
.nav {
    grid-area: n;
    background-color: cornflowerblue;
    padding: 20px;
}

.item {
    margin-bottom: 20px;
    font-weight: bold;
}

.item a {
    color: white;
    text-decoration: none;
}